<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Buttons | Penguin UI</title>
	<link href="/css/main.css" rel="stylesheet">
	<script src="/js/main.js" type="module"></script>
</head>

<body class="preview">

	<pui-navbar></pui-navbar>

	<h1>Button Component</h1>

	<div class="elements">

    <a href="./raised/button-raised.html" class="btn btn-raised btn-primary">
      Button Raised
    </a>

    <a href="./outlined/button-outlined.html" class="btn btn-outlined btn-secondary">
      Button Outlined
    </a>

    <a href="./ghost/button-ghost.html" class="btn btn-ghost btn-neutral">
      Button Ghost
    </a>

	</div>

<pre>
<code><div class="code-control-buttons"><div></div><div></div><div></div></div>
<span class="code-tag">&lt;button</span> <span class="code-class">class</span><span class="code-tag">=</span><span class="code-string">"btn btn-raised btn-primary"</span><span class="code-tag">&gt;</span>
  Button Raised
<span class="code-tag">&lt;/button&gt;</span>

<span class="code-tag">&lt;pui-button</span> <span class="code-class">pui-outlined color</span><span class="code-tag">=</span><span class="code-string">"secondary"</span><span class="code-tag">&gt;</span>
  Button Outlined
<span class="code-tag">&lt;/pui-button&gt;</span>
</code>
</pre>

    <div class="elements">
      <a href="./button.css" class="btn btn-raised btn-success" target="_blank" download>
        Download CSS
      </a>

      <a href="./button.component.js" class="btn btn-raised btn-primary" target="_blank" download>
        Download JS
      </a>
    </div>

<table>
	<thead>
		<tr>
			<td>Class</td>
			<td>Attribute</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>btn</td>
			<td>pui-button</td>
			<td>Button without elevation</td>
		</tr>
		<tr>
			<td>btn-raised</td>
			<td>pui-raised</td>
			<td>Button with elevation</td>
		</tr>
		<tr>
			<td>btn-outlined</td>
			<td>pui-outlined</td>
			<td>Button outlined without elevation</td>
		</tr>
		<tr>
			<td>btn-ghost</td>
			<td>pui-ghost</td>
			<td>Text button without elevation</td>
		</tr>
		<tr>
			<td>btn-sm</td>
			<td>sm</td>
			<td>Small button</td>
		</tr>
		<tr>
			<td>btn-md</td>
			<td>md</td>
			<td>Medium button</td>
		</tr>
		<tr>
			<td>btn-lg</td>
			<td>lg</td>
			<td>Large button</td>
		</tr>
		<tr>
			<td>btn-[color]</td>
			<td>color="[color]"</td>
			<td>Color of the button</td>
		</tr>
	</tbody>
</table>

<!-- FIX: <ul>
	<li>Links</li>
	<hr>
	<li>
		<a href="/components/button/raised/button-raised.html">Button Raised</a>
	</li>
	<li>
		<a href="/components/button/outlined/button-outlined.html">Button Outlined</a>
	</li>
	<li>
		<a href="/components/button/ghost/button-ghost.html">Button Ghost</a>
	</li>
</ul> -->

</body>

</html>
