<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Buttons | Penguin UI</title>
	<link href="/css/main.css" rel="stylesheet">
	<script src="/js/main.js" type="module"></script>
</head>

<body class="preview">

	<pui-navbar></pui-navbar>

	<h1>Button Components</h1>

	<div class="elements">

		<button class="btn btn-raised btn-primary">
			Button Raised
		</button>

		<button class="btn btn-outlined btn-info">
			Button Outlined
		</button>

		<button class="btn btn-ghost btn-success">
			Button Ghost
		</button>

	</div>

<pre>
<code><div class="code-control-buttons"><div></div><div></div><div></div></div>
<span class="code-tag">&lt;button</span> <span class="code-class">class</span><span class="code-tag">=</span><span class="code-string">"btn btn-raised btn-primary"</span><span class="code-tag">&gt;</span>
  Button Raised
<span class="code-tag">&lt;/button&gt;</span>

<span class="code-tag">&lt;pui-button</span> <span class="code-class">pui-outlined color</span><span class="code-tag">=</span><span class="code-string">"info"</span><span class="code-tag">&gt;</span>
  Button Outlined
<span class="code-tag">&lt;/pui-button&gt;</span>
</code>
</pre>

<table>
	<thead>
		<tr>
			<td>Class</td>
			<td>Attribute</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>btn-raised</td>
			<td>pui-raised</td>
			<td>Button with elevation</td>
		</tr>
		<tr>
			<td>btn-outlined</td>
			<td>pui-outlined</td>
			<td>Button outlined without elevation</td>
		</tr>
		<tr>
			<td>btn-ghost</td>
			<td>pui-ghost</td>
			<td>Text button without elevation</td>
		</tr>
		<tr>
			<td>btn-sm</td>
			<td>sm</td>
			<td>Small button</td>
		</tr>
		<tr>
			<td>btn-md</td>
			<td>md</td>
			<td>Medium button</td>
		</tr>
		<tr>
			<td>btn-lg</td>
			<td>lg</td>
			<td>Large button</td>
		</tr>
		<tr>
			<td>btn-[color]</td>
			<td>color="[color]"</td>
			<td>Color of the button</td>
		</tr>
	</tbody>
</table>

<ul>
	<li>More examples</li>
	<hr>
	<li>
		<a href="/components/button/raised/button-raised.html">Button Raised</a>
	</li>
	<li>
		<a href="/components/button/outlined/button-outlined.html">Button Outlined</a>
	</li>
	<li>
		<a href="/components/button/ghost/button-ghost.html">Button Ghost</a>
	</li>
</ul>

</body>

</html>
