<!DOCTYPE html>
<html lang="en">

<head>
	<title>Carousel | Penguin UI</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/main.css" rel="stylesheet">
	<script src="/js/main.js" type="module"></script>
	<script src="./carousel.component.js" type="module"></script>
	<script src="./animated-carousel.component.js" type="module"></script>
</head>

<body class="preview">

	<pui-navbar></pui-navbar>

	<h1>Carousel Component</h1>

	<pui-carousel slides='{
    "slides": [
      {
        "img": "/assets/img/1.png",
        "title": "Slide 1",
        "description": "Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.",
        "button": {
          "text": "Button 1",
          "url": "#"
        }
      },
      {
        "img": "/assets/img/2.png",
        "title": "Slide 2",
        "description": "Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.",
        "button": {
          "text": "Button 2",
          "url": "#"
        }
      },
      {
        "img": "/assets/img/3.png",
        "title": "Slide 3",
        "description": "Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.",
        "button": {
          "text": "Button 3",
          "url": "#"
        }
      }
    ]
  }'>
	</pui-carousel>

	<br />
	<br />

	<!-- <div class="animated-carousel">
    <div class="animated-slide-container">
      <div class="animated-slide active">
        <img src="/assets/img/1.png" />

        <div class="animated-carousel-caption">
          <div class="animated-caption-header">
            <h3>Slide 1</h3>
            <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi
              Lorem
              pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud
              nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
              pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor
              Lorem
              duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem
              sunt
              duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate
              laboris
              sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
          </div>
          <a href="#" class="btn btn-success">Button</a>
        </div>
      </div>
    </div>

    <div class="animated-slide-indicators">
      <div class="animated-slide-indicator active">
        <img src="/assets/img/1.png" />
      </div>
      <div class="animated-slide-indicator next">
        <img src="/assets/img/2.png" />
      </div>
      <div class="animated-slide-indicator inactive">
        <img src="/assets/img/3.png" />
      </div>
      <div class="animated-slide-indicator previous">
        <img src="/assets/img/2.png" />
      </div>
    </div>
  </div> -->

	<pui-animated-carousel></pui-animated-carousel>

</body>

</html>
