<!DOCTYPE html>
<html lang="en">

<head>
	<title>Code Example | Penguin UI</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/main.css" rel="stylesheet">
	<script src="/js/main.js" type="module"></script>
	<script src="./code.component.js" type="module"></script>
</head>

<body class="preview">

	<pui-navbar></pui-navbar>

	<h1>Code Example Component</h1>

	<pui-code-ex title="Code Example Component" lang="html">
		<div class="main">
			<div class="hero">
				<h1>Penguin UI</h1>
				<p>Components for web developers</p>
			</div>
		</div>
	</pui-code-ex>

</body>

</html>
