<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="/css/main.css" rel="stylesheet">
</head>

<body class="preview">

	<div class="elements">

		<button class="btn btn-raised btn-primary">
			Primary
		</button>

		<button class="btn btn-raised btn-secondary">
			Secondary
		</button>

		<button class="btn btn-raised btn-accent">
			Accent
		</button>

		<button class="btn btn-raised btn-neutral">
			Neutral
		</button>

		<button class="btn btn-raised btn-base-100">
			Base 100
		</button>

		<button class="btn btn-raised btn-base-200">
			Base 200
		</button>

		<button class="btn btn-raised btn-base-300">
			Base 300
		</button>

		<button class="btn btn-raised btn-info">
			Info
		</button>

		<button class="btn btn-raised btn-success">
			Success
		</button>

		<button class="btn btn-raised btn-warning">
			Warning
		</button>

		<button class="btn btn-raised btn-error">
			Error
		</button>

	</div>

<pre>
<code><div class="code-control-buttons"><div></div><div></div><div></div></div>
<span class="code-tag">&lt;button</span> <span class="code-class">class</span><span class="code-tag">=</span><span class="code-string">"btn btn-raised btn-primary"</span><span class="code-tag">&gt;</span>
  Primary
<span class="code-tag">&lt;/button&gt;</span>

<span class="code-tag">&lt;pui-button</span> <span class="code-class">pui-raised color</span><span class="code-tag">=</span><span class="code-string">"primary"</span><span class="code-tag">&gt;</span>
  Primary
<span class="code-tag">&lt;/pui-button&gt;</span>
</code>
</pre>

</body>

</html>
