.btn-raised {
	box-shadow: 0 2px 4px var(--pen-base-300-dark), 0 3px 6px var(--pen-base-200-dark);
}

.btn-raised:hover {
	box-shadow: 0 5px 15px var(--pen-base-100-dark);
}

.btn-raised:active {
	box-shadow: 0 0 0 var(--pen-base-100-dark);
}
