<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Badge Raised | Penguin UI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js" type="module"></script>
  </head>
  <body class="preview">

	<pui-navbar></pui-navbar>

	<h1>Badge Component</h1>

	<div class="elements">

		<button class="btn btn-raised btn-base-100">
      Button with badge
      <span class="badge badge-top badge-right badge-primary">5</span>
		</button>

		<button class="btn btn-raised btn-base-100">
      Button with badge
      <span class="badge badge-top badge-right badge-secondary">5</span>
		</button>

		<button class="btn btn-raised btn-base-100">
      Button with badge
      <span class="badge badge-top badge-right badge-accent">5</span>
		</button>

		<button class="btn btn-raised btn-base-100">
      Button with badge
      <span class="badge badge-top badge-right badge-neutral">5</span>
		</button>

		<button class="btn btn-raised btn-base-100">
      Button with badge
      <span class="badge badge-top badge-right badge-info">5</span>
		</button>

		<button class="btn btn-raised btn-base-100">
      Button with badge
      <span class="badge badge-top badge-right badge-success">5</span>
		</button>

		<button class="btn btn-raised btn-base-100">
      Button with badge
      <span class="badge badge-top badge-right badge-warning">5</span>
		</button>

		<button class="btn btn-raised btn-base-100">
      Button with badge
      <span class="badge badge-top badge-right badge-error">5</span>
		</button>

	</div>

<pre>
<code><div class="code-control-buttons"><div></div><div></div><div></div></div>
<span class="code-tag">&lt;span</span>
  <span class="code-class">class</span><span class="code-tag">=</span><span class="code-string">"
    badge
    badge-top
    badge-right
    badge-info
  "
</span><span class="code-tag">&gt;</span>
  5
<span class="code-tag">&lt;/span&gt;</span>

<span class="code-tag">&lt;pui-badge</span>
  <span class="code-class">pui-top-right
  color</span><span class="code-tag">=</span><span class="code-string">"info"</span><span class="code-tag">
&gt;</span>
  5
<span class="code-tag">&lt;/pui-badge&gt;</span>
</code>
</pre>

    <div class="elements">
      <a href="./button.css" class="btn btn-raised btn-success" target="_blank" download>
        Download CSS
      </a>

      <a href="./button.component.js" class="btn btn-raised btn-primary" target="_blank" download>
        Download JS
      </a>
    </div>

<table>
	<thead>
		<tr>
			<td>Class</td>
			<td>Attribute</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>badge</td>
			<td>pui-badge</td>
			<td>Badge</td>
		</tr>
		<tr>
			<td>badge-[pos]</td>
			<td>pui-[pos]-[pos]</td>
			<td>Badge position</td>
		</tr>
		<tr>
			<td>badge-[color]</td>
			<td>color="[color]"</td>
			<td>Badge color</td>
		</tr>
	</tbody>
</table>

  </body>
</html>
